/*
reset
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
debug
*/
.debug header {
    background-color: sandybrown;
    border: 1px dashed black;
}
.debug main {
    background-color: coral;
    border: 1px dashed black;
}
.debug footer {
    background-color: grey;
    border: 1px dashed black;
}
.debug header .header-top div {
    background-color: aqua;
}

/*
general
*/
.container{
    margin: 0 auto;
    
}
.header-container {
    width: 100%;
}
ul {
    list-style: none;
}
button {
    background: none;
    border: none;
}

/*
header
*/
.header-top, header ul {
    display: flex;
}
.header-top {
    justify-content: space-between;
}

/*
main
*/

/*
footer
*/