/*
reset
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*
debug
*/
.debug header {
    background-color: sandybrown;
    border: 1px dashed black;
}
.debug main {
    background-color: coral;
    border: 1px dashed black;
}
.debug footer {
    background-color: grey;
    border: 1px dashed black;
}
.debug header .header-top div {
    background-color: aqua;
}

.debug footer .footer-row-top {
    background-color: beige;
    border: 1px dashed black;
}
.debug footer .footer-row-bottom {
    background-color: beige;
    border: 1px dashed black;
}

/*
general
*/
.container{
    margin: 0 auto;
}
.header-container {
    width: 100%;
}
ul {
    list-style: none;
}
header li {
    margin-right: 15px;
}
button {
    background: none;
    border: none;
}
.blue-botton {
    background-color: #1a70fa;
    border: 1px solid #004ecc;
    color: white;
    padding: 5px;
}
.header-bottom {
    background-color: #B5D0E8;
}
.header-row-bottom {
    width: 70%;
    margin: 0 auto;
}
h1 {
    padding: 30px 0;
    font-size: 3rem;
}

footer {
    color: white;
    background-color: black;
}
.footer-row-box {
    width: 60%;
    margin: 0 auto;
    padding-top: 6px;
    padding-bottom: 30px;
}
a {
    text-decoration: none;
    color: white;
}
footer li {
    margin-bottom: 5px;
}

/*
header
*/
.header-row, header ul {
    display: flex;
    flex-wrap: wrap;
}
.header-row {
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
.logo-small {
    width: 80px;
}

.intro {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    width: 30%;
}
.intro>* {
    margin-bottom: 20px;
}
.img-header-bottom {
    width: 70%;
}
.img-header-bottom img {
    width: 45%;
    position: absolute;
    margin-top: 10px;
}
.header-bottom i {
    font-size: 2rem;
    padding-bottom: 10px;
}
.header-row-bottom-box {
    display: flex;
}
/*
main
*/
.main-row-box {
    width: 60%;
    margin: 0 auto;
}
.piano-abbonamento {
    padding-top: 100px;
}
.tipo-fatturazione {
    padding: 30px 0;
}
.tipo-fatturazione span {
    margin-right: 50px;
}
h2 {
    padding-bottom: 10px;
}
.row-options {
    display: flex;
    flex-wrap: wrap;
}
.card-plan {
    justify-content: space-between;
    width: calc((100%/3)-50px);
}

/*
footer
*/
.footer-row-top {
    display: flex;
    justify-content: space-between;
}
hr {
    width: calc(100%/10);
    color: white;
    margin-top: 6px;
    margin-bottom: 30px;
}