/*
reset
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
debug
*/
.debug header {
    background-color: sandybrown;
    border: 1px dashed black;
}
.debug main {
    background-color: coral;
    border: 1px dashed black;
}
.debug footer {
    background-color: grey;
    border: 1px dashed black;
}
.debug header .header-top div {
    background-color: aqua;
}

/*
general
*/
.container{
    margin: 0 auto;
    
}
.header-container {
    width: 100%;
}
ul {
    list-style: none;
}
li {
    margin-right: 15px;
}
button {
    background: none;
    border: none;
}
.blue-botton {
    background-color: #1a70fa;
    color: white;
    padding: 5px;
}

/*
header
*/
.header-row, header ul {
    display: flex;
    flex-wrap: wrap;
}
.header-row {
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
.logo-small {
    width: 80px;
}

/*
main
*/

/*
footer
*/